.infoIcon{
	border: 1px solid var(--primary-color-btn-bg,#EF6D22) !important;
    color: white;
    background: var(--primary-color-btn-bg,#EF6D22) !important;
    border-radius: 50%;
    text-align: center;
    font-size: 16px;
    width: 20px;
    cursor: pointer;
    margin-left: 6px;
}
.informationModal{
	width: 1200px ;
}
.mk-popup-title-panel{
	background-color: #727272;
    color: white;
    padding: 12px 16px;
}
.mk-h6{
	font-size: 1.125rem !important;
    line-height: 1.33rem !important;
}
.mk-popup-close-icon{
	width: 14px;
    height: 14px;
    padding: 5px;
    background-color: #fff;
    -webkit-mask: url(https://static.mykaarma.com/res/lib/icons/md/clear.svg) no-repeat center;
    mask: url(https://static.mykaarma.com/res/lib/icons/md/clear.svg) no-repeat center;
    cursor: pointer;
}
.informationIframePanel {
    width: 100%;
    height: 477px;
    border: none !important;
}
.informationModalPanel {
    width: 100%;
    height: 100%;
}
.informationModalVpPanel {
    width: 100%;
    height: 100%;
    background: white;
    -webkit-box-shadow: 0 24px 38px -2px rgba(0,0,0,0.14), 0 9px 46px 0 rgba(0,0,0,0.12), 0 11px 15px -27px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 24px 38px -2px rgba(0,0,0,0.14), 0 9px 46px 0 rgba(0,0,0,0.12), 0 11px 15px -27px rgba(0,0,0,0.2);
    box-shadow: 0 24px 38px -2px rgba(0,0,0,0.14), 0 9px 46px 0 rgba(0,0,0,0.12), 0 11px 15px -27px rgba(0,0,0,0.2);
}
.infotooltip {
  position: relative;
  display: inline-block;
}

.infotooltip .infotooltiptext {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.infotooltip:hover .infotooltiptext {
  visibility: visible;
}

.infotooltiptext{
	width:200px;
	left: 15px;
    top: 20px;
}